.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
.nav {
    overflow: hidden;
    background-color: black;
}
.nav a{
    float:left; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav a:hover{
    background-color: white;
    color: black;
}
.nav a.right {
    float: right;
}

/*body*/
body {
    margin: 0px 0px;
    
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: skyblue;
    padding: 10px 20px;
}
.main {
    background-color: #F6F6EF;
    padding: 10px 15px;
    height: 100vh;
}
.header .right-header{
    margin-right: 180vh;
}

.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}
/* end of body */

.img .img1{
    display: block;
    margin-left: auto;
    margin-right: auto;	
}


/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    float: bottom;
    
}

.to-top {
    background:#333; 
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
